*{
	margin:       0;
    border-width: 0;
    border-style: none;
	padding:      0;
    font-family:  sans-serif;
    font-size:    100%;
    color:        #dddddd;
    overflow:     hidden;
            box-sizing:          border-box;    /* Make objects height and width include the border */
    -webkit-box-sizing:          border-box;
            user-select:         none;          /* prevent copy paste; to allow, change 'none' to 'text' */
    -webkit-user-select:         none;
            touch-callout:       none;          /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout:       none;
            user-drag:           none;          /* prevent elements from being dragged */
    -webkit-user-drag:           none;
            text-size-adjust:    none;          /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust:    none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Remove grey background on tab items activation */
    -webkit-tap-highlight-color: transparent;   /* For some Androids */
}

html,body{ 
	height: 100%; 
    width:  100%; 
}
body{
    background-color: #000000;
}

h1{
    margin:    0.1em auto;
    color:     #eeeeee;
    font-size: 1.5em;
}
h2{
    font-size: 1.3em;
    margin-bottom: 3%;
}
h3{
    font-size: 1.1em;
    margin-bottom: 3%;
}

/* Navbar ---------------------------------------------------------- */

header{
	position:relative;
    width:  100%;
    height: 2em;
    z-index:1000;
	border-bottom:1px solid #eee;
}
header ul{
	list-style:none;
	height:100%;
}
header li{ 
    display:inline-block;
    position:absolute;
    left:30px;
    right:30px;
    height:100%; 
    text-align:center; 
}
header li:first-child{
	left:0px;
	right:auto;
}
header li:last-child{
	left:auto;
	right:0px;
}

/* Sprite as background of all the 'buttons' ------------------------ */

li span{
	display:block;
    width: 2em; height: 2em;
    margin: 3px auto;
    background: url("../img/sprite.svg") 0 0 no-repeat;
    background-size: 2em 2em;
}
#volgende span {background-position: -30px 0;}
#photo span    {background-position: -60px 0;}
#fast span     {background-position: -90px 0;}
#manual span   {background-position:-120px 0;}
#screen span   {background-position:-150px 0;}
#info span     {background-position:-180px 0;}
#vorige span:active   {background-position:  -0px -30px;}
#volgende span:active {background-position: -30px -30px;}
#photo span:active    {background-position: -60px -30px;}
#fast span:active     {background-position: -90px -30px;}
#manual span:active   {background-position:-120px -30px;}
#screen span:active   {background-position:-150px -30px;}
#info span:active     {background-position:-180px -30px;}
li:hover{color: #69BD45;}
#clockworks img{width: 100%;}

/* Tabbar ---------------------------------------------------------- */

nav{ 
    position:absolute; 
    width:100%;
    bottom:0; 
    height:3em; 
    border-top:1px solid #eee; 
    z-index:1000;
}
nav ul{
    list-style:none; 
    height:100%; 
}
nav li{
    display:inline-block;
    float:left;
    height:3em;  
	width:20%;
    text-align:center;
    font-size:0.75em;
	border-right:1px solid #eee;
}
nav li:last-child{
	border-right:0px solid;
}

/* Content --------------------------------------------------------- */

section{ 
    position: absolute;
    width:    100%;
    top:      2em; bottom:3em; left:0;
    display:  none;
    padding:  0.5em;
}
#clockworks{display:block;}

figure, article{
    position: absolute;
}
article { overflow-y: auto }
figure  { top: 0.5em; bottom:   0.5em; left: 0.5em; right:   51%; }
article { top: 0.5em; bottom:   0.5em; left:   51%; right: 0.5em; }

@media all and (orientation:portrait){
    figure  { top: 0.5em; bottom:   51%; left: 0.5em; right: 0.5em; }
    article { top:   51%; bottom: 0.5em; left: 0.5em; right: 0.5em; }
}