#sm_hours, #sm_minutes, #sm_seconds{
    position: absolute;
    top:     33%;
    left:    33%;
    width:   34%;
    height:  34%;
}
#sm_minutes_div, #sm_seconds_div{
    position: absolute;
	top:    -16%;
    left:     0%;
    width:  100%;
    height: 100%;
}
