#lifelong img{
    position: absolute;
    top:       0;
    left:      0;
    width:  100%;
    height: 100%;
}
#lifelong svg{
    position: absolute;
    top:       0;
    left:      0;
    width:  100%;
    height: 100%;
    overflow: visible;
}
#lifelong_figure {
	overflow: visible;
}
#lifelong {
	overflow: visible;
}